.App {
  min-height: 100vh;
  background: #050505;
  position: relative;
}

.App::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1737629918399-45526c4f9264?crop=entropy&cs=srgb&fm=jpg&ixid=M3w4NjA2OTV8MHwxfHNlYXJjaHwyfHxhYnN0cmFjdCUyMG5lb24lMjB0ZXh0dXJlJTIwZGFyayUyMGJhY2tncm91bmR8ZW58MHx8fHwxNzcwNzQ5NzYyfDA&ixlib=rb-4.1.0&q=85');
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
}

.game-container {
  position: relative;
  z-index: 10;
}
